.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.manga-div {
    display: flex;
    width: 50vw;
    height: 25vw;
    flex-direction: column;
    justify-content: center;
}

.manga-div > h2 {
    align-self: center;
}

/* Change link styling */
.main-link {
    color: red;
}

.search-results {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

