.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.manga-div {
    display: flex;
    width: 50vw;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
}

.manga-div > h2 {
    align-self: center;
}

/* change the styling of the main home link and the search bar once their is a search triggered */

/* styling change for the container holding the homelink and searchbar */
.styling-change {
    flex-direction: row;
    justify-content: center;
    width: 75vw;
    gap: 50px;
    height: 10vh;

    margin-top: 10px;
    margin-bottom: 30px;
}

.container-change {
    justify-content: start;
}

.searchbar-change {
    width: 50vw;
}

.homelink-change {
    font-size: 20px;
}

/* Change link styling */
.main-link {
    color: red;
}

.search-results {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;

}

